a {
    text-decoration: none;
    color: black;
    margin: 0;
}

article:nth-child(1) {
    height: 118px;
    display: flex;
    align-items: center;
}

article:nth-child(1) img {
    border-radius: 100%;
}

article:nth-child(1)>div:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

article:nth-child(1)>div:nth-child(1)>a {
    margin-right: 12px;
}

article:nth-child(1)>div:nth-child(1)>a>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article:nth-child(1)>div:nth-child(1)>a>div>div {
    position: relative;
    top: 0;
    left: 0;
}

article:nth-child(1)>div:nth-child(1)>a>div>div>img {
    width: 66px;
    height: 66px;
}

article:nth-child(1)>div:nth-child(1)>a>div>div>div {
    position: absolute;
    top: 5px;
    left: 5px;
}

article:nth-child(1)>div:nth-child(2) {
    position: absolute;
    top: 118px - 26px;
    right: 5px;
}

article:nth-child(1)>div:nth-child(2) ion-icon {
    font-size: 26px;
    background-color: #FFFFFF;
    border-radius: 100%;
    margin: 0;
}

article:nth-child(2) {
    margin-top: 24px;
}

article:nth-child(2)>div {
    margin-bottom: 60px;
}

aside {
    width: 293px;
    margin-left: 28px;
    position: fixed;
    right: calc(50vw - 935px/2);
}

aside>div:nth-child(1) {
    display: flex;
    align-items: center;
    margin: 25px 0;
}

aside>div:nth-child(1) img {
    width: 56px;
    height: 56px;
    margin-right: 10px;
}

aside>div:not(:first-child) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

aside>div:not(:first-child)>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside>div:not(:first-child)>div>a:nth-child(1) {
    margin-right: 10px;
}

body {
    background-color: #FAFAFA;
    font-family: 'Roboto';
}

footer {
    position: fixed;
    bottom: 0;
    display: none;
}

h1 {
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}

h2 {
    font-size: 12px;
    font-weight: 400;
    color: #262626;
}

h3 {
    font-size: 11px;
    color: #C7C7C7;
    font-weight: 400;
    margin-top: 20px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

header ion-icon {
    font-size: 25px;
    margin: 0;
}

input {
    width: 215px;
    height: 28px;
    background-color: #EFEFEF;
}

main {
    position: relative;
    top: 88px;
    display: flex;
}

section {
    width: 614px;
    position: absolute;
    left: calc(50vw - 935px/2);
}

section ion-icon {
    font-size: 20px;
    margin: 0;
}

span {
    font-weight: 400;
}

video {
    width: 614px;
    height: auto;
}

.bold {
    font-weight: 500;
}

.border {
    border-color: #DBDBDB;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}

.container-color {
    background-color: #FFFFFF;
}

.font-color-blue {
    color: #139EF2;
}

.font-color-gray {
    color: #8E8E8E;
}

.header-mobile {
    display: none;
}

.post {
    width: 614px;
    margin-bottom: 60px;
}

.post>div:nth-child(1) {
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2%;
}

.post>div:nth-child(1)>div {
    display: flex;
    align-items: center;
}

.post>div:nth-child(1) img {
    height: 32px;
    width: 32px;
    margin: 0 10%;
}

.post>div:nth-child(1)>div>a {
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.post>div:nth-child(2) img {
    height: 614px;
    width: 614px;
}

.post>div:nth-child(3) {
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2%;
}

.post>div:nth-child(3) ion-icon:hover,
.post>div:nth-child(n+5) ion-icon:hover {
    color: gray;
    cursor: pointer;
}

.post>div:nth-child(4) {
    height: 38px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 2%;
}

.post>div:nth-child(4) img {
    height: 20px;
    width: 20px;
    margin-right: 2%;
}

.post>div:nth-child(5),
.post>div:nth-child(6) {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2%;
}

.post>div:nth-child(5) ion-icon,
.post>div:nth-child(6) ion-icon {
    font-size: 15px;
}

.post>div:nth-child(7) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 2%;
}

.post>div:nth-child(7) button {
    color: #B2DFFC;
    background-color: #FFFFFF;
    border-style: none;
}

.post>div:nth-child(7) button:hover {
    color: #0095F6;
    transition: 300ms;
    cursor: pointer;
}

.post>div:nth-child(7) input {
    background-color: #FFFFFF;
    border-style: none;
    width: 100%;
}

.post>div:nth-child(7) ion-icon {
    font-size: 25px;
}

.post>div:nth-child(7)>div:nth-child(2) {
    width: 80%;
}

.post>div:nth-child(7) ::placeholder {
    text-align: start;
    color: #918E8E;
    font-size: 16px;
    font-family: 'Roboto';
}

::placeholder {
    text-align: center;
    color: #918E8E;
    font-size: 16px;
    font-family: 'Roboto';
}

@media (max-width: 935px) {
    aside {
        display: none;
    }

    section {
        left: calc(50vw - 614px/2);
    }
}